main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-header {
    width: 100%;
    height: 200px;
    background-color: var(--gray-700);
    color: white;
    font-size: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header p, span {
    font-size: inherit;
}

.app-header p {
    font-weight: 700;
    color: var(--blue);
}

.app-header span {
    color: var(--purple-dark);
}

.app-header img {
    width: 4.8rem;
    height: 4.8rem;
}

.app-form {
    font-size: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2.8rem;
}

.app-form form {
    display: flex;
    gap: 0.8rem;
}

.app-form input {
    color: var(--gray-300);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    width: 638px;
    height: 54px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.app-form input::placeholder {
    font-size: 1.6rem;
    text-align: left;
}

.app-form button {
    background-color: var(--blue-dark);
    border: 0;
    border-radius: 8px;
    width: 90px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 1.4rem;
    gap: 8px;
}

.app-form button > i {
    font-size: 1.4rem;
    
} 

section {
    width: 736px;
    margin-top: 65px;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

section header div {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    gap: 8px;
}

section header div p {
    font-size: 1.4rem;
}

.tasks-done {
    color: var(--purple);
}

.tasks-created {
    color: var(--blue);
}


section header div span {
    font-size: 1.2rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    border-radius: 999px;
    padding: 2px 8px;
}

section > div {
    margin-top: 24px;
}

.no-tasks {
    color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
    gap: 2px;
    border-radius: 8px;
    border-top: 2px solid var(--gray-400);
    padding: 64px;
}

.no-tasks > strong , p {
    font-size: 1.6rem;
    font-weight: 700px;
    color: var(--gray-300);
}

.no-tasks > i {
    font-size: 5.6rem;
}

.tasks-list {
    margin-top: 24px;
}

